<h1 class="page-header">Personne</h1>
<button ng-click="go('');">Retour</button>

Personne <span>{{personneId}}</span>
<div ng-if="modif">
	<button ng-click="save(); reload();">Sauvegarder</button><br/>
	Nom:<input ng-model="personne.nom"><br/>
	Prenom:<input ng-model="personne.prenom"/><br/>
	
	<button ng-Confirm-Click="Voulez-vous vraiment supprimer cette personne ?" ng-Confirm-Click-Action="remove();">Supprimer</button>

</div>


<div ng-if="!modif">
	<button ng-click="edit();">Modifier</button><br/>
	<h1>{{personne.prenom + ' ' + personne.nom}}</h1>
</div>

