<h1 class="page-header">Personne</h1>
<button ng-click="go('');">Retour</button>

Personne <span>{{personneId}}</span>
<div ng-if="modif">
	<button ng-click="save(); reload();">Sauvegarder</button><br/>
	Nom:<input ng-model="personne.nom"><br/>
	Prenom:<input ng-model="personne.prenom"/><br/>
	<button ng-click="remove();">Supprimer</button>
</div>


<div ng-if="!modif">
	<button ng-click="edit();">Modifier</button><br/>
	<h1>{{personne.prenom + ' ' + personne.nom}}</h1>
</div>



<!-- <p>{{personne.info}}</p>
 
<ul class="specs">
  <li>
    <span>D&eacute;tails</span>
    <dl>
      <dt>Personne gentille</dt>
      <dd>{{personne.gentil | checkmark}}</dd>
    </dl>
  </li>
</ul>
 -->


