    <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->
		<p> Affichage {{phones.length + '/' + phonesCount}},  tri par "{{orderProp}}"</p>
        <p>Search: <input ng-model="query"></p>
		<p>Sort by: 
		<select ng-model="orderProp">
			<option value="name">Alphabetical</option>
			<option value="age">Newest</option>
			<option value="-age">Oldest</option>
		</select></p>
		<p>Résultats par page:
		<select ng-model="limit" ng-change="loadPhones()">
			<option value="1">1</option>
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
		</select></p>
      </div>
     
      
      <div class="col-md-10">
        <!--Body content-->
        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
          	<a href="#/phones/{{phone.id}}" class="thumb">
          		<img ng-src="{{phone.imageUrl}}">
          	</a>
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.snippet}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>
  
	<div>
	<p> Données en json :</p>
	<pre>{{phones | json}}</pre>
	</div>