<h1 class="page-header">Promotions</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<!--Sidebar content-->
			<p>Affichage de {{(data.length?data.length:'0') + '/' + dataCount}} UV(s)<p>
			<p>{{'UV(s): ' + (data.length?(start+1):'0') + ' - ' + (start+data.length) + ' sur ' + dataCount }} 
			<p>Tri par "{{orderProp}}"</p>
			<p>Search: <input ng-model="query"></p>
			<p>Sort by: 
				<select ng-init="orderProp='nom'" ng-model="orderProp">
					<option value="nom">Nom</option>
					<option value="id">id</option>
				</select>
			</p>
			<p>R&eacute;sultats par page:
				<select ng-model="limit" ng-change="setData()">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="50">50</option>
				</select>
			</p>
			<p>
				<a href="#/promotions/creer/">Nouvelle Promotion</a>
			</p>
		</div>
		<div class="col-md-10">
			<ul class="">
				<li ng-repeat="promotion in data | filter:query | orderBy:orderProp" class="thumbnail">
					<a href="#/promotions/{{promotion.id}}">{{getFormation(promotion).nom + ' - ' + promotion.nom}}</a>
				</li>
			</ul>
			<div>
				<a href ng-if="start>0" ng-click="precedents()"> &lt; Pr&eacute;c&eacute;dent(s) </a>
				<b ng-if="(start>0) && ((start+data.length)<dataCount)"> | </b>
				<a href ng-if="(start+data.length)<dataCount" ng-click="suivants()"> Suivant(s) &gt;</a>
			</div>
		</div>
	</div>
</div>