
	<div style="margin-left: 50px; margin-top: 60px;">

		<div class="btn-group">

			<button ng-click="changeMainChart('UV')" type="button" class="btn btn-default">Répartition UV par nombre d'heures</button>

		</div>

		<nvd3-multi-bar-horizontal-chart

			    	data="mainDatas"

		            id="mainChart"

					margin="{left:400,top:30,bottom:100,right:30}" 

		            height="400"

		            width="800"

		            tooltips="true"

		            showXAxis="true"

		            showYAxis="true"

		            showValues="true"

		            showLegend="true"

		            delay="2400"

		            interactive="true"

		            noData="Pas de données">

	        	<svg style="height:350px;"></svg>

	    	</nvd3-multi-bar-horizontal-chart>

	</div>

		<div style="margin-left: 50px;">

			<div class="btn-group-vertical" style="float: left; margin-top: 60px;">

		 		<button ng-click="changePie('A1S')" type="button" class="btn btn-default">A1S</button>

		 		<button ng-click="changePie('A2S')" type="button" class="btn btn-default">A2S</button>

		 		<button ng-click="changePie('A2S2')" type="button" class="btn btn-default">A2S2</button>

	  		</div>

			

			<nvd3-pie-chart 

					data="datas" 

					id="exampleId"

					margin="{left:0,top:30,bottom:0,right:0}" 

		       		width="400"

		        	height="300"

					x="xFunction()"

					y="yFunction()" 

					showLabels="false" 

					pieLabelsOutside="false"

					showValues="false" 

					showLegend=false

					tooltips="true"

		        	tooltipcontent="toolTipContentFunction()"   

		        	noData="Pas de données">

				<svg style="height:350px; width: 500px;"></svg> </nvd3-pie-chart></div>

		

		<div>

		<div style="margin-left: 50px;">

			<div class="btn-group-vertical" style="float: left; margin-top: 60px;">

		 		<button ng-click="changeBar('ens1')" type="button" class="btn btn-default">Enseignant 1</button>

		 		<button ng-click="changeBar('ens2')" type="button" class="btn btn-default">Enseignant 2</button>

	  		</div>

			<nvd3-discrete-bar-chart

			    	data="datasBar"

		            id="exampleId2"

					margin="{left:50,top:30,bottom:100,right:30}" 

		            width="500"

		            height="400"

		            tooltips="true"

		            showXAxis="true"

		            showYAxis="true"

		            showValues="true"

		            noData="Pas de données">

	        	<svg style="height:350px; width: 500px;"></svg>

	    	</nvd3-discrete-bar-chart></div>

    	</div>
